/* Headers:
font-family: 'Libre Franklin', sans-serif;

Text:
font-family: 'Cormorant Garamond', serif;
*/
/*Full*/
.full {
width: 80%;
margin-left: auto;
margin-right: auto;
padding: 0px;
padding-bottom: 35px;
border: 1px black solid;
background: white;
}
hr {
    color: #076721;
    border: 1px #076721 solid;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
}
a {
    text-decoration: none;
}

/*Header*/
header {
font-family: 'Libre Franklin', sans-serif;
}
header h1{
color: black;
text-align: center;
margin: 0px;
padding-top: 20px;
font-size: 25px;
}
header h2{
    color: black;
    text-align: center;
    margin: 0px;
    font-size: 18px;
    }
header h3{
    color: black;
    text-align: center;
    margin: 0px;
    font-size: 15px;
    }

/*Main*/
main h1{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 0px;
    margin-top: 40px;
}
main h2 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: left;
    font-size: 17px;
    margin: 10px 30px;
}
.weekhr {
    margin-top: 5px;
    width: 100px;
}
main a {
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;

}
.a {
    background: #2CD55A;
    border: 2px #076721 solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 8px;
    height: 30px;
    width: 250px;
    margin: 0px;
}
main p{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    margin: 0px;
    padding-right: 15px;
    padding-left: 15px;
}
.p {
    text-align: left;
    padding: 0px;
    padding-top: 3px;
    width: 250px;
    margin: 0px;
}
.webcard {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 5px 30px;
}
.daycard {
    background: #076721;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
